@charset "utf-8";
@media (prefers-color-scheme: light) {
:root {
  --main-text: #333333;
  --main-bg: #f5f5f5;
 }
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #ffffff;
    --main-bg: #000000;
 }
 
body {
	background-color: var(--main-bg);		/*ページ全体の背景色*/
	font-size:95%;		/* フォントサイズを95%にする */
	font-family: "ＭＳ ゴシック",sans-serif;	/* フォントの種類をゴシック系にする */
	line-height:1.5;	/* 行の高さを1.5倍にする */
	color: var(--main-text);		/* 文字色を濃い目のグレーにする */
	transition: .5s;
}

/*============================================
メインメニュー
============================================*/
ul#menu {
	width:960px; height:50px; 	/*メインメニュー部分の幅と高さ*/
}
#menu li {
	list-style-type:none;		/*リストマーカー無しにする*/
	display:inline;			/*リスト項目をインライン表示にする*/
	float:left;			/*リスト項目を横に並べる*/
}
#menu li a {
	background-color:navy;	/*背景色*/
	color:#ffffff;		/*文字色*/
	display:block;			/*リンク部分をブロック表示にする*/
	width:240px; height:35px;	/*幅と高さ*/
	text-align:center;		/*テキストをセンター揃えにする*/
	text-decoration:none;		/*リンク部分を下線無しにする*/
}
#menu li a:hover {
	background-color:#000066; 	/*リンクにマウスが乗ったら背景色を変更する*/
}
