@charset "utf-8";

@media (prefers-color-scheme: light) { /*ライトモードの時の指定です。　*/
  :root {
    --bgcolor: #f5f5f5;
    --textcolor: #000;
    --linkcolor: #0cf;
    --visitedlinkcolor: #069;
  }
}

@media (prefers-color-scheme: dark) {  /*ダークモード時の指定です。　　*/
  :root {
    --bgcolor: #333;
    --textcolor: #fff;
    --linkcolor: #9fc;
    --visitedlinkcolor: #6c9;
  }
}

body {
  background-color: var(--bgcolor); /*ページ全体の背景色*/
  color: var(--textcolor); /* 文字の色　*/
  transition: .5s;
  font-size:95%;		/* フォントサイズを95%にする */
  font-family: "ＭＳ ゴシック",sans-serif;	/* フォントの種類をゴシック系にする */
  line-height:1.5;	/* 行の高さを1.5倍にする */
}

a {
font-weight:bold;
text-decoration:none;
}

a:link { /*アクセスしたことのないリンク*/
color: var(--linkcolor); ←青色
}

a:visited { /*アクセスしたことのあるリンク*/
color: var(--visitedlinkcolor);　←紫色
}

/*============================================
メインメニュー
============================================*/
/* 基本装飾 */
header {
  background: #333;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
li {
  margin: 2rem 0;
}
 
/* ボタン */
.btn-menu {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}
 
/* メニュー */
nav {
  background: #0bd;
  position: absolute;
  z-index: 1;
  top: 3.125rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}
