:root {
  --gut:100%;
  --menu:100%;
  --top:100%;
  --hureta:#000;
}



body{
  background-color:#ddd;
  margin:0;
  padding:0;
}
#top{
  background-color:#22a;
  box-shadow: 2px 2px 8px gray;
  z-index:1;
  display:flex;
  padding:10px;
  width:100%;
  position:fixed;
  height:60px;
  transition:0.3s;
  bottom:var(--top);
}
#top *{
  display:flex;
  align-items:center;
}
#top div{
  padding-right:10px;
  padding-left:10px;
  height:60px;
  user-select:none
}
#top a{
  text-decoration:none;
  color:#fff;
}
.gazoyoko{
  vertical-align: middle;
  display: table-cell;
  padding-left:5px;
}
.ma{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.ma div{border-right:4px solid #44f;transition:0.3s;}
.profile{border-left:4px solid #44f;}
.ma div:hover{background-color:#00c;}



.menu{
  margin-left:auto;
  cursor:pointer;
}
#menu{
  transition:0.3s;
  background:rgba(0,0,0,0.5);
  position:fixed;
  width:100%;
  z-index:0;
  top:0;
  bottom:var(--menu);
}
#gut{
  transition:0.3s;
  position:fixed;
  top:00px;
  padding-top:5px;
  background-color:#fff;
  margin-left:auto;
  width:30%;
  height:100%;
  padding-left:10px;
  padding-top:80px;
  left:var(--gut);
}



.main{
  width:80%;
  padding:20px;
  margin:10 auto;
  margin-top:100px;
  background-color:#fff;
  border-radius:20px;
  box-shadow: 2px 2px 8px gray;
}
.underline{
  width:80%;
  height:5px;
  background-color:#00f;
  margin-bottom:20px;
}
.0s{
  margin-bottom:2px;
  padding-bottom:0px;
}
.quote{
  background-color:#ddd;
  padding:8px;
  border:2px solid #888;
}



@media (prefers-color-scheme: dark){
  body{background-color:#444;}
 .main{background-color:#222;color:#fff;}
  #gut{background-color:#444;color:#fff;}
}
