@charset "utf-8";

@media (prefers-color-scheme: light) { /*ライトモードの時の指定です。　*/
  :root {
    --bgcolor: #f5f5f5;
    --textcolor: #000;
    --linkcolor: #0cf;
    --visitedlinkcolor: #069;
  }
}

@media (prefers-color-scheme: dark) {  /*ダークモード時の指定です。　　*/
  :root {
    --bgcolor: #333;
    --textcolor: #fff;
    --linkcolor: #9fc;
    --visitedlinkcolor: #6c9;
  }
}

:root {
  --gut:100%;
  --menu:100%;
  --top:100%;
  --hureta:#000;
}
body {
  background-color: var(--bgcolor); /*ページ全体の背景色*/
  color: var(--textcolor); /* 文字の色　*/
  transition: .5s;
  font-size:95%;		/* フォントサイズを95%にする */
  font-family: "ＭＳ ゴシック",sans-serif;	/* フォントの種類をゴシック系にする */
  line-height:1.5;	/* 行の高さを1.5倍にする */
}

a {
font-weight:bold;
text-decoration:none;
}

a:link { /*アクセスしたことのないリンク*/
color: var(--linkcolor); ←青色
}

a:visited { /*アクセスしたことのあるリンク*/
color: var(--visitedlinkcolor);　←紫色
}


#top{
  background-color:#22a;
  box-shadow: 2px 2px 8px gray;
  z-index:1;
  display:flex;
  padding:10px;
  width:100%;
  position:fixed;
  height:60px;
  transition:0.3s;
  bottom:var(--top);
}
#top *{
  display:flex;
  align-items:center;
}
#top div{
  padding-right:10px;
  padding-left:10px;
  height:60px;
  user-select:none
}
#top a{
  text-decoration:none;
  color:#fff;
}
.gazoyoko{
  vertical-align: middle;
  display: table-cell;
  padding-left:5px;
}
.ma{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.ma div{border-right:4px solid #44f;transition:0.3s;}
.profile{border-left:4px solid #44f;}
.ma div:hover{background-color:#00c;}
/*============================================
メインメニュー
============================================*/

#menu {
	width:960px; height:50px; 	/*メインメニュー部分の幅と高さ*/
}
#menu li {
	list-style-type:none;		/*リストマーカー無しにする*/
	display:inline;			/*リスト項目をインライン表示にする*/
	float:left;			/*リスト項目を横に並べる*/
}
#menu li a {
	background-color:navy;	/*背景色*/
	color:#ffffff;		/*文字色*/
	display:block;			/*リンク部分をブロック表示にする*/
	width:240px; height:35px;	/*幅と高さ*/
	text-align:center;		/*テキストをセンター揃えにする*/
	text-decoration:none;		/*リンク部分を下線無しにする*/
}
#menu li a:hover {
	background-color:#000066; 	/*リンクにマウスが乗ったら背景色を変更する*/
}

.menu{
  margin-left:auto;
  cursor:pointer;
}
#menu{
  transition:0.3s;
  background:rgba(0,0,0,0.5);
  position:fixed;
  width:100%;
  z-index:0;
  top:0;
  bottom:var(--menu);
}
#gut{
  transition:0.3s;
  position:fixed;
  top:00px;
  padding-top:5px;
  background-color:#fff;
  margin-left:auto;
  width:30%;
  height:100%;
  padding-left:10px;
  padding-top:80px;
  left:var(--gut);
}
