<footer>
  <hr width="90%">
  <!--
  <ul class="foot">
    <li><a href="https://scratch.mit.edu/users/nyankotrain"><img src="./assets/images/logo/6B1B26DA-1766-41C1-B0EB-F80B0BEB62A1.webp" width="50" height="50">Scratch</a></li>
    <li><a href="https://discord.gg/APQhV6J8W7"><img src="./assets/images/logo/28873687-0CE7-49CE-89D5-47F537AD304C.png" width="50" height="auto">My server</a></li>
  </ul>
  -->
  <ul class="footer">
    <li><a href="https://discord.gg/APQhV6J8W7">discord</a></li>
  </ul>
</footer>
