@font-face {
  font-family: "YOKOSUKA-FONT";
  src: url('neko001robov/neko001robov.github.io/assets/fonts/YokosukaBlock-Regular.otf') format('opentype');
}

body {
  background-color: #000; /*ページ全体の背景色*/
  color: #fff; /* 文字の色　*/
  transition: .5s;
  font-size:95%;		/* フォントサイズを95%にする */
  font-family: "Gill Sans", "YOKOSUKA-FONT";	/* フォントの種類をゴシック系にする */
  line-height:1.5;	/* 行の高さを1.5倍にする */
}

.main {
  width: 100%;
}

.block {
  box-sizing: border-box;
  width: auto;
  font-weight: normal;
  font-size: 30px;
  padding-left: 5px;
}

article p {
  width: 100%;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
}

.sitetitle {
  font-size: 60px;
  text-align: center;
  line-height: 70px;
}

.center {
  text-align: center;
  margin: 0 auto;
  float: center;
}

img {
  text-align: left;
  width: 30%;
}

.circle_icon_main img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 3px solid #999;
      border-radius: 50%;
}

.pageimage img {
  width: 100%;
}

.post_title a {
  vertical-align: top;
  font-size: 25px;
}
.post_title p {
  vertical-align: top;
}
.post_link p {
  margin: 0;
}

a {
font-weight:bold;
text-decoration:none;
}

a:link { /*アクセスしたことのないリンク*/
color: #06f; ←青色
}

a:visited { /*アクセスしたことのあるリンク*/
color: #039; ←紫色
}

/*============================================
メインメニュー
============================================*/
header {
  width: 100%;
  display: inline-block;
}

header .gnav .menu {
  display: flex;
  text-align: center;
  margin: 0 auto;
  float: center;
  /* 中の要素を横並びにする */
}

header .gnav .menu li {
  list-style: none;
  /* リストの[・]を消す */
}

header .gnav .menu li+li {
  margin-left: 15%;
  /* メニューそれぞれに間隔をあけるため */
}

/*===
keyframe
===*/

@keyframes rainbow{
    12%{color:#ff5353;}
    24%{color:#ffcf53;}
    36%{color:#e8ff53;}
    48%{color:#53ff5d;}
    60%{color:#53ffbc;}
    72%{color:#5393ff;}
    84%{color:#ca53ff;}
    100%{color:#ff53bd;}
}
