@font-face {
  font-family: "YOKOSUKA-FONT";
  src: url('./assets/fonts/YokosukaBlock-Regular.otf') format('opentype');
}
body {
  background-color: #f3f3f3; /*ページ全体の背景色*/
  color: #16160e; /* 文字の色　*/
  transition: .5s;
  font-size:95%;		/* フォントサイズを95%にする */
  font-family: "Gill Sans", "YOKOSUKA-FONT";	/* フォントの種類をゴシック系にする */
  line-height:1.5;	/* 行の高さを1.5倍にする */
}
.main {
  width: 100%;
}
.block {
  box-sizing: border-box;
  width: 100%;
  font-weight: normal;
  font-size: 30px;
  border-right :solid 5px #3261A3;
  border-left  :solid 5px #3261A3;
}
article p {
  width: 100%;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
}
.sitetitle {
  font-size: 60px;
  text-align: center;
  line-height: 70px;
}
.circle_icon_main img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      animation-name: rainbow_circle_icon_main;
      animation-duration: 4s;
    	animation-iteration-count: infinite;
}
.pageimage img {
  width: 100%;
}
.post_title a {
  vertical-align: top;
  font-size: 25px;
}
.post_title p {
  vertical-align: top;
}
.post_link p {
  margin: 0;
}
a {
font-weight:bold;
text-decoration:none;
}
a:link { /*アクセスしたことのないリンク*/
color:#000;
}
a:visited { /*アクセスしたことのあるリンク*/
color: #039; ←紫色
}
/*============================================
メインメニュー
============================================*/
header {
  width: 100%;
  height: 50px; /* 高さを50pxに指定 */
  display: inline-block;
  background-color: #2b2b2b; /*ページ全体の背景色*/
  padding: 0; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position:fixed;
}
header .gnav .menu {
  display: flex;
  text-align: center;
  margin: 0 auto;
  float: center;
  /* 中の要素を横並びにする */
}
header .gnav .menu li {
  list-style: none;
  /* リストの[・]を消す */
 }
header .gnav .menu a {
  animation-name: blink-link;
  animation-duration: 5s;
  animation-timing-function: steps(100,end);
  animation-iteration-count: infinite;
}
header .gnav .menu li+li {
  margin-left: 15%;
  /* リストの[・]を消す */
 }
 /*============================================
フッター
============================================*/
footer {
  width: 100%;
  display: inline-block;
}
footer .footer {
  display: flex;
  text-align: center;
  margin: 0 auto;
  float: center;
  /* 中の要素を横並びにする */
}
footer .footer li {
  list-style: none;
  /* リストの[・]を消す */
}
footer .footer li img {
  display: block;   
  margin-left: auto;
  margin-right: auto;
}  
/*===
keyframe
===*/
@keyframes rainbow_circle_icon_main{
    0%{border: 3px solid #ff53bd;}
    12%{border: 3px solid #ff5353;}
    24%{border: 3px solid #ffcf53;}
    36%{border: 3px solid #e8ff53;}
    48%{border: 3px solid #53ff5d;}
    60%{border: 3px solid #53ffbc;}
    72%{border: 3px solid #5393ff;}
    84%{border: 3px solid #ca53ff;}
    100%{border: 3px solid #ff53bd;}
}

@keyframes blink-link {
    0%{color: #4169e1;}
    50%{color: #003399;}
    51%{color: #4169e1;}
    80%{color: #003399;}
    81%{color: #4169e1;}
    100%{color:#4169e1;}
}
