<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="./base.css">
  <link rel="icon" href="./8554D67B-88CE-4EB0-8263-1BADA3AC6DAC.ico" />
  <link rel="stylesheet" media="screen and (max-width:800px)" href="./base_sp.css">
<title>製作中のもの/nyankotrainのお部屋</title>
</head>
 <body>
  <div class="container">
    {% include menu.html %}
    <div class="main">
      <div class="block" style="float: left;">
        {%- if page.pagename -%}
        <div class="pagetitle">
          <h1>{{ page.pagename }}</h1>
          {%- if page.date -%}
          <div class="pageabout">{{ page.tags }} {{ page.date | date: "%Y/%m/%d"}}</div><br>
          {%- endif -%}
          {%- if page.image -%}
          <div class="pageimage"><img src="{{site.url}}/assets/images/{{ page.image }}"></div>
          {%- endif -%}
          {%- if page.imagecaption -%}
          {{ page.imagecaption }}
          {%- endif -%}
        </div>
        {%- endif -%}
        <article>
          {{ content }}
        </article>
        {%- if page.showfooter -%}
        {% include footer2.html %}
        {%- endif -%}
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
<html>
